*{
    margin: 0;
    padding: 0;
}

/*
html, body {
 	height: 100%;
 	margin: 0;
}

div {
	min-height: 100%; 
	position: relative;

}
*/
	body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  .h2Main{
  		color: white;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background: url(images/fondo.jpg) no-repeat fixed center;
  		-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
    	background-size: cover;
    	color: #ffffff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .click:hover{
		background-color: rgba(255,100,0,0.6);
  }
  
  .crossButton:hover{
  		text-decoration: underline;
  }
  
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  
  .navbar {
      margin-bottom: 0;
      background-color: rgba(0, 78, 220, 0.8);
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;	
      animation-duration: 1s;	
      -webkit-animation-duration: 1s;
      visibility: visible;			
  }
  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }	
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }

	#contact{
	    background: url(images/contact.jpg) no-repeat center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}
	#paintBorderMe{
		border: 5px solid #0066FF;
		border-radius: 100px;	
		box-shadow: 2px 4px 8px black;
	}
	.paintBorder{
		border: 5px solid #0066FF;
		border-radius: 24px;	
		box-shadow: 2px 4px 8px black;
		clear: right;
		background-color: rgba(255, 255, 255, 0.2);
	}
	
	#h2Contact{
	   font-size: 24px;
      text-transform: uppercase;
      color: whitesmoke;
      font-weight: 600;
      margin-bottom: 30px;
	}
	
	.h4Contact {
      font-size: 19px;
      line-height: 1.375em;
      color: whitesmoke;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  
  [data-show="on"]{
  		display:inline-block;
  }
  [data-show="off"]{
  		display:none;
  }

/*

.jumbotron { 

    background: url(images/fondo.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    padding: 100px 25px;
}
*/


/*
#work{
    background: url(images/dna.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contact{
    background: url(images/contact.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#canvas{
    background: url(images/canvas.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


header{
  width: 100%;
  position: fixed;
  z-index: 100;
}
    
ul{
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
    border: 1px solid #0066FF;
    background-color: rgba(0, 78, 220, 0.8);   
    -webkit-box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.62);
	 -moz-box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.62);
	 box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.62);

}

li{
    display: inline-block;
    margin: 3px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
	 -webkit-transition: all 0.5s ease-in-out; 
    transition: all 0.5s ease-in-out;
}


li:hover {

    box-shadow: 10px 20px 30px black;   
}


li[data-menu=menuActfalse]{
	-webkit-transform: translate(0,-10em);
    transform: translate(0,-10em);
}


li[data-menu=menuActtrue]{
	-webkit-transform: translate(0em,0);
    transform: translate(0em,0);
}


li[data-active=true]
{
	border-color: yellow;
	color: yellow;
}

li[data-active=false]
{
	background-color: rgba(0, 78, 220, 0.8);   
	color: white;
}
a#aMenu{
	text-decoration: none;
	color: white;
	border-style: hidden;
}

section{
	 display: block;
	-webkit-transition: all 0.75s ease-in-out; 
    transition: all 0.75s ease-in-out;
}

article{
		display: inline-block;
		border: 7px solid #0066FF;
		border-radius: 25px;
		margin: 2px;
		background: rgba(0, 78, 220, 0.8);
		-webkit-transition: all 0.5s ease-in-out; 
      transition: all 0.5s ease-in-out;
}


section[data-active=true]{
	position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -20%;
	transform: translate(-50%, -50%)
}


section[data-active=false]{
	position: absolute;
   top: 50%;
   left: 50%;

	transform: translate(-200em, -50%)
}

section[data-name="prog"][data-active=true]{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

section[data-name="storage"][data-active=true]{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}


article[data-prop="click"]:hover{
	background-color: #F7FE2E;
}

.item-out{
  position: fixed;
  top: 50%;
  left: 50%;
  
  transform: translate(-90em, -50%);
}
.item-in{
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
div [data-name="itemWork"]{
	text-align: center;
	font: 15px arial, sans-serif;
}

div [data-name="content"]{
	padding: 20px;
	background: #202020;
	box-shadow: 10px 20px 30px black; 
	border: 2px solid #808080;
}

article.myContact{
		display: inline-block;
		text-align: center;
		border-radius: 25px;
		padding: 12px;
		box-shadow: 10px 20px 30px black; 
		border: 2px solid #808080;
		background-color: rgba(224,224,224,0.8); 
}

.clear{
	display: block;
}

.crossButton{
	color: white;
	font: 15px arial, sans-serif;
	display:inline-block;
}

textarea{
	resize: none;
}

#footmain{
	 position: absolute;
    bottom: 0;
    width: 98.5%;
    padding: 10px;
	 background-color: rgba(0, 78, 220, 0.8);
	 color: white;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

section[data-fadein=true] {
    opacity:0;  
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
*/



